<div class="card">
<div class="surface-card p-4 shadow-2 border-round w-full lg:w-full" >
  <h1 class="title">Profile</h1>
<!--<div class="surface-section px-4 py-8 md:px-6 lg:px-8">-->
<!--  <div class="grid">-->
<!--    <div class="col-12 lg:col-12">-->
  <div class="flex justify-content-center" *ngIf="hasImage">
    <img [src]="clientImage" alt="profile Pic">
  </div>
      <form [formGroup]="updateFormClient" (ngSubmit)="updateClient()">
      <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12">
          <label for="avatar" class="font-medium text-900">Upload Profile Picture</label>
          <div id="avatar" class="flex align-items-center">
            <p-fileUpload [customUpload]="true" type="file" (uploadHandler)="onUpload($event)" id="profilePic" mode="basic" name="avatar" url=""></p-fileUpload>
          </div>
        </div>

        <div class="w-full"  formArrayName="translations">
          <div class="w-full" [formGroup]="translationFormClient">

      <div class="grid">
        <div class="field col">
          <label for="firstName" class="font-medium text-900">First Name</label>
          <input formControlName="firstName"  pInputText id="firstName" type="text">
        </div>
        <div class="field col">
          <label for="lastName" class="font-medium text-900">Last Name</label>
          <input formControlName="lastName" pInputText id="lastName" type="text">
        </div>
          </div>
        </div>
      </div>


        <div class="field col">
          <label for="email" class="font-medium text-900">Email</label>
          <input formControlName="email" pInputText id="email" type="email">
        </div>
        <div class="field col">
          <label for="phoneNumber" class="font-medium text-900">Phone Number</label>
          <input formControlName="phoneNumber" pInputText id="phoneNumber" type="tel">
        </div>


        <div class="field mb-4 col-12 md:col-12">
          <label for="Address" class="font-medium text-900">Address</label>
          <input formControlName="address" pInputText id="Address" type="text">
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="city" class="font-medium text-900">City</label>
          <input formControlName="city" pInputText id="city" type="text">
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="state" class="font-medium text-900">Country</label>
          <input formControlName="country" pInputText id="state" type="text">
        </div>
        <div class="col-6">
          <p-button type="submit" label="Save Changes"></p-button>
        </div>
        <div class="col-6">
          <button (click)="delete()" pButton pRipple class="p-button-danger" label="Delete Account"></button>
        </div>
      </div>
      </form>
    </div>
<!--  </div>-->
<!--</div>-->
<!--</div>-->
</div>
