.title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.col {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.grid {
  width: 80%;
  margin: 1rem auto 2rem auto;
}


.photo {
  width: 40%;
  height: 60%;
  /*margin: auto;*/
  /*border-radius: 50%;*/
  vertical-align: middle;
}

:host ::ng-deep .p-card {
  /*border: #8117ec 1px solid !important;*/
  transition: transform .2s;
}
:host ::ng-deep .p-card:hover {
  transform: scale(1.2);
}
